@import "colors.css";

* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", "Noto Sans Nerd Font", sans-serif;
    transition: 0.2s;
}

window {
    background-color: rgba(12, 12, 12, 0.95);
}

grid {
    background-color: @surface_container; 
    border-radius: 5px;
    margin: 50px 100px;
    padding: 20px;
    box-shadow: none;
}

button {
    /* Fallback colors (Dark background, Light text) */
    background-color: #1e1e1e;
    color: #ffffff;
    border: 2px solid #555555;

    /* Actual Theme Colors */
    background-color: @surface;
    color: @on_surface;
    border: 2px solid @outline_variant;

    border-radius: 20px;
    margin: 10px;
    padding: 0px; 
    
    /* REMOVE OUTLINES/GLOWS */
    outline-style: none;
    text-shadow: none;
    box-shadow: none;

    font-size: 40px;
    font-weight: bold;
}

button {
    border-radius: 10px;
    border-color: @outline_variant;
    text-decoration-color: #FFFFFF;
    color: @on_surface;
    background-color: @surface;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    background-size: 25%;
}

button:hover {
    background-color: @primary;
    color: @on_primary;
    border-color: @primary;
    animation: none;
}

button:focus {
    background-color: @primary;
    color: @on_primary;
    border-color: @primary;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
